/*///////////////////////////////////////////////////////////////////////////*/
/* IMPORTS */
/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();
@import "CSS:../../_build/tmp-bower-vendors/bootstrap/dist/css/bootstrap.min";
@import "CSS:../../_build/tmp-bower-vendors/angular-growl-v2/build/angular-growl";
@import "CSS:../../_build/tmp-bower-vendors/leaflet/dist/leaflet";
@import "CSS:../../_build/tmp-bower-vendors/font-awesome-animation/dist/font-awesome-animation";
$ionicons-font-path: "../fonts" !default;
@import "../../_build/tmp-bower-vendors/ionic/scss/ionic";
@import "../../_build/tmp-bower-vendors/components-font-awesome/scss/font-awesome";


/*///////////////////////////////////////////////////////////////////////////*/
/* VARIABLES */
/*///////////////////////////////////////////////////////////////////////////*/
$dark: #3f4041;
$color1: blue;
$colorSuccess: green;
$colorError: red;
$colorAction: blue;

/*///////////////////////////////////////////////////////////////////////////*/
/* SCREENS */
/*///////////////////////////////////////////////////////////////////////////*/
#map {
    width: 100%;
    height: 100%;
    z-index:8;
}

#mapDetail {
    width: 100%;
    height: 300px;
    z-index:10;
}

#mapSearchBar {
	z-index:9;
}

#logo {
	display:block;
	font-size:180px;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* MENU */
/*///////////////////////////////////////////////////////////////////////////*/
.main-menu {
	.icon {
		margin-right:10px;
	}
}

/*///////////////////////////////////////////////////////////////////////////*/
/* ANIMATIONS */
/*///////////////////////////////////////////////////////////////////////////*/
.anim-fade.ng-enter, .anim-fade.ng-leave {
  	@include transition(all linear 0.5s);
}

.anim-fade.ng-enter, .anim-fade.ng-leave.ng-leave-active {
	opacity: 0;
}

.anim-fade.ng-leave, .anim-fade.ng-enter.ng-enter-active {
	opacity:1;
}

.button-icon, .sideMenu i {
	@extend .faa-ring;
	@extend .animated-hover;
}

.sideMenu ion-item, .sideMenu ion-item a {
	@extend .animated-hover;
	@extend .faa-parent;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* MISCS */
/*///////////////////////////////////////////////////////////////////////////*/
.scroll {
    height: 100%;
}

.fa {
	font-size:18px;
}

.success {
	color:$balanced;
}

.error {
	color:$assertive;
}

.action {
	color:$positive;
}

.item-select select
{
	right: auto;
	padding: 13px 45px 15px 0px;
	direction: ltr;
}

.center {
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
}

.bar.item-input-inset .item-input-wrapper input {
	width: 100%;
}

.search-wrapper-light {
	border-bottom: 2px solid rgba(255,255,255,0.5);
	background: none;
	border-radius: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
	color: #ffffff;
}

.dark {
	background-color: #3f4041 !important;
	color: #ffffff;
	.scroll-content {
		background-color: #3f4041 !important;
	}
	.item-content {
		background-color: $dark;
		padding:20px;
	}

	.item {
		background-color: $dark;
		border: none;
		border-top: 1px solid #464646;
		border-bottom: 2px solid #333333;
		color: #F0F1F1;
		max-height: none;

		&:last-child {
			border-bottom: 1px solid #333333;
		}
		&.current{ background-color:darken( $dark, 10% )   !important;
			border-top: 1px solid #464646 !important;
			border-bottom: 2px solid #333333 !important;
			p,h3{opacity: .7;}
		}
	}
	h2,
	h3,
	p
	{
		color: #F0F1F1;
	}
}
.dark-head {
	text-decoration: none;
}